# Ignore /pkg and /bin folders.
# Also ignore all executables:
#	Linux Environment:	 
#		/bin
# 			app
#		/src
#			main
# 	Windows Environment:
#		/src
#			*.exe

/pkg
/bin
**/main
**/.exe
*.sumgo.sum
src/libraryservice

